<div class="frontPage container">
    <br/><br/><br/><br/><br/>
    <div class="search">
        <%= render "journeys/search" %>
    </div>
    <div class="search">
        On the go: 
        <%= link_to 'Picking a package', indexUserMatch_path, :method => :get, class: "btn btn-secondary" %> | 
        <%= link_to 'Delivering a package', indexUserContract_path, :method => :get, class: "btn btn-secondary" %> |
        <!--< %= link_to 'Review a journey', new_review_path, :method => :get, class: "btn btn-secondary" %> |-->
        <!--< %= link_to 'Review a package', new_review_path, :method => :get, class: "btn btn-secondary" %>-->
        <!--not implemented-->
        <!--< %= link_to 'Track my package', track_path, :method => :get, class: "btn btn-secondary" %>-->
    </div>
</div>