<div class="frontPage container">
    <br/><br/><br/><br/><br/>
    <div class="search">
        Thanks for using our service to send your packages with us!
        <%=link_to "Main Page", root_path %>
    </div>
</div>